<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ERU_Core"
            connectionString="Data Source=DESKTOP-A4SA2SF\SQLEXPRESS;Initial Catalog=ERU_Core;Integrated Security=True;Encrypt=false;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>